
/* toggle styles */
.acf-field-5994ca00ccd17 ul li {
  width: auto;
  display:inline-block;
  margin-right:15px !important;
  margin-bottom:15px !important;
}

.acf-field-5994ca00ccd17 ul input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
  display:block;
}
.acf-field-5994ca00ccd17 ul label {
  float: none;
}
.acf-field-5994ca00ccd17 ul label {
  display: block !important;
  background-color: #e4e4e4;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 5px 10px;

  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.acf-field-5994ca00ccd17 ul label:hover {
  cursor: pointer;
}
.acf-field-5994ca00ccd17 ul  label.selected {
  background: #444;
  color:#fff;
  border: 1px solid #ddd;
  
}

